/* ### RIGHT SIDEBAR ### */
.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}

.modal.right .modal-dialog {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.modal.right .modal-content {
  min-height: 100vh;
  border: 0;
}

.modal-content {
  border-radius: 0px !important;
}

@media (min-width: 768px) {
  .modal-sm {
    width: 25em !important;
  }
}

.navMenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebarModal {
  padding: 1em 3em !important;
}

.sidebarFotoUser {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.sideBarModalUsername {
  font-size: 1.5em;
}

.sidebarModal>ul>li:hover {
  background: #3A96EE;
}

.sidebarModal>ul>li:hover>a>i {
  color: #FFFFFF;
}

.sidebarModal>ul>li:hover>a>.title {
  color: #FFFFFF;
}

.sidebarModal>ul>li>a {
  display: block;
  position: relative;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  padding: 0.8em 0em;
  height: 3em;
}

.sidebarModal>ul>li>a>i {
  color: #3A96EE;
  font-size: 1.5em
}

.sidebarModal>ul>li>a>.title {
  color: #333333;
  font-weight: 500;
}

.sidebarModal .footer-sidebar {
  width: 10em;
}

.sidebarModal .footer-sidebar a {
  padding-left: 1em
}

/* ### END RIGHT SIDEBAR ### */
.footer-sidebar {
  position: fixed !important;
  bottom: 1em;
  width: 8.9em;
}

@media (max-height:890px) {
  .footer-sidebar, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li.footer-sidebar:hover {
    position: inherit !important;
  }
}

.sidebarPadding {
  padding-top: 6em !important;
}

.center {
  text-align: center;
}

/* Desaprecer logo de amcharts */
.portlet.light>div>div>svg>g>g>g>g>g:nth-child(3) {
  display: none;
}

/* ### LOG IN ### */
.panel {
  margin-bottom: 22px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px rgb(179, 179, 179) !important;
}

.login .logo {
  padding: 0px;
  margin: 0px;
}

.panel .panel-body {
  font-size: 1em;
  padding: 1em 3.3em;
}

.login-form>.form-group {
  margin-bottom: 2em;
}

.login .form-title {
  color: #333333;
  font-size: 1.7em;
  font-weight: 400 !important;
  text-align: center;
  margin-bottom: 40px;
}

.input-icon>.form-control {
  padding: 0px;
  font-size: 19px;
  font-weight: lighter;
}

.form-title-label {
  color: #3A96EE;
  font-size: 19px;
}

.form-title-div-label {
  text-align: left;
  margin-bottom: 0px;
}

.login .content .form-control {
  border: none;
  background-color: #ffffff;
  border-bottom: 1px solid #808080;
  height: 36px;
  color: #1d1d1b;
  border-radius: 0px;
}

.login .content .form-control:focus {
  border: none;
  border-bottom: 1px solid #56ccf2;
}

.btn-login {
  border: none;
  background: #333333;
  color: #ffffff !important;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.2 !important;
}

.btn-login:focus {
  color: #ffffff;
}

.btn-login:hover {
  color: #ffffff;
  background: linear-gradient(90deg, #56ccf2, #2f80ed);
  border: none;
}

/* Customize the label (the container-checkbox) */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 2px solid #808080;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked~.checkmark {
  background-color: #56CCF2;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 10px;
  top: 4px;
  width: 5px;
  height: 15px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ### END LOGIN ### */
/* ### HEADER ### */
.page-header.navbar .page-logo {
  padding-left: 10.5em !important;
  padding-top: 7px !important;
  background: #ffffff !important;
}

.page-header.navbar .page-top {
  /* height: 80px !important; */
}

.displayLiDesktop {
  display: inline !important;
}

.saludo {
  color: #348AEE;
  font-size: 1.3em;
  font-weight: 100;
}

.nombreVista {
  float: left;
  padding-bottom: 5px;
  background: linear-gradient(90deg, #56ccf2, #2f80ed) left bottom transparent no-repeat;
  background-size: 100% 3px;
}

.nombreVista::before {
  position: absolute;
  top: 80px;
  left: 268px;
  right: auto;
  display: inline-block !important;
  border-right: 43px solid transparent;
  border-top: 21px solid #e0e0e0;
  border-left: 43px solid transparent;
  content: '';
}

.nombreVista::after {
  position: absolute;
  top: 79px;
  left: 271px;
  right: auto;
  display: inline-block !important;
  border-right: 40px solid transparent;
  border-top: 20px solid #ffffff;
  border-left: 40px solid transparent;
  content: '';
}

.fotoPerfil {
  margin-top: -8px !important;
  margin-right: 0px !important;
  height: 39px !important;
  display: inline-block !important;
  float: inherit !important;
  margin-left: 5px;
}

/* ### END HEADER ### */
/* ### DESKTOP ### */
.bgDesktop {
  background: #ffffff;
}

.bgDesktop:hover {
  background: #348aee;
}

.bgDesktop:hover>div>i::before {
  color: #ffffff !important;
}

.titleDesktop {
  color: #3A96EE;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 11px;
}

.flex_icon {
  display: flex !important;
  justify-content: center !important;
  margin-top: 40px;
}

.decorationDesktop:hover {
  text-decoration: none;
}

.decorationDesktop:focus {
  text-decoration: none;
}

.dropdownDesktop {
  margin-top: 30px !important;
  font-family: "Open Sans", sans-serif !important;
  box-shadow: 0px 0px 6px 0px rgb(179, 179, 179) !important;
  border-radius: 5px !important;
}

.dropdown>.dropdown-menu:before {
  position: absolute !important;
  top: -18px !important;
  left: 12px !important;
  right: auto !important;
  display: inline-block !important;
  border-right: 23px solid transparent !important;
  border-bottom: 17px solid #e0e0e0 !important;
  border-left: 23px solid transparent !important;
  content: '' !important;
}

.dropdown>.dropdown-menu:after {
  position: absolute;
  top: -15px !important;
  left: 15px !important;
  right: auto !important;
  display: inline-block !important;
  border-right: 20px solid transparent !important;
  border-bottom: 15px solid #fff !important;
  border-left: 20px solid transparent !important;
  content: '' !important;
}

.dropdownDesktop>li {
  font-size: 1.25em;
}

.dropdownDesktop>li>a {
  padding: 15px 0px 15px 5px !important;
  color: #348aee !important;
}

.dropdownDesktop>li:hover>a {
  background: #348aee !important;
  color: #ffffff !important;
}

.dropdownDesktop>li:hover>a>[class^=icon-], .dropdownDesktop>li:hover>a>[class*=" glyphicon-"] {
  color: #ffffff !important;
}

.dropdownDesktop>li:not(:first-child)>a {
  border-top: 1px solid #d8d8d8 !important;
}

.dropdownDesktop>li>a>[class^=icon-], .dropdownDesktop>li>a>[class*=" glyphicon-"] {
  color: #348aee !important;
}

.dropdownDesktop>li>a>span {
  margin: 0px 7px !important;
}

.rowDesktop {
  padding: 0 17.3em !important;
}

.rowDesktop2 {
  padding: 5em 17.3em !important;
}

.tituloDesktop {
  font-size: 1.5em;
  color: #93c0f3;
}

.infoDesktop {
  color: #93c0f3;
  font-size: 1.3em;
  font-weight: 100;
  margin: 0.5em 0;
}

/* ### END DESKTOP ### */
/* ### CLIMA ### */
.wi {
  color: #93c0f3;
}

.wi {
  font-size: 2rem;
}

.degree {
  position: relative;
}

.degree::after {
  content: "°";
  position: absolute;
  top: -0.2rem;
  left: auto;
  color: #93c0f3;
}

/* ### END CLIMA ### */
/* ### FORMULARIOS ### */
.paddingForm {
  padding: 0em 6em !important;
}

.topForm {
  background: #3a96ee;
  padding: 0 !important;
  min-height: 1em !important;
  border-radius: 10px 10px 0 0 !important;
}

.titleForm {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #333333;
}

.subtitleForm {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  color: #333333;
}

.bodyForm {
  padding: 0px 7em !important;
}

.form-control .open>.dropdown-menu {
  background: #f2f6f9 !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
  border: 0px solid #f2f6f9 !important;
}

.form-control.open>.dropdown-menu {
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
  border: 0px solid #f2f6f9 !important;
  margin-top: 0px !important;
}

.btn-group.bootstrap-select.bs-select.form-control.open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.btnForm {
  border-radius: 10px;
}

.btnFormSave {
  background: #3a96ee;
  color: #FFFFFFFF;
  border-radius: 0px !important;
  text-align: center;
  font-size: 1.45em;
  font-weight: 600;
  padding: 0.1em 3em;
}

.btnFormSave:hover, .btnFormSave:focus, .btnFormCancel:hover, .btnFormCancel:focus {
  color: #FFFFFFFF;
}

.btnFormCancel {
  background: #e61826;
  color: #FFFFFFFF;
  border-radius: 0px !important;
  text-align: center;
  font-size: 1.45em;
  font-weight: 600;
  padding: 0.1em 3em;
}

.btnIconForm {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.labelControl {
  margin-bottom: 7px !important;
  font-weight: 900 !important;
}

/* ### END FORMULARIOS ### */
/* ### LISTAS ### */
.btnList, .btnList:hover, .btnList:focus {
  background: #3a96ee;
  color: #FFFFFFFF;
  border-radius: 0px !important;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

.btnList2, .btnList2:hover, .btnList2:focus {
  background: #3a25b7;
  color: #FFFFFFFF;
  border-radius: 0px !important;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}

.btnIconList, .btnIconList:hover, .btnIconList:focus {
  background: #3a96ee;
  border: 0px solid #3a96ee;
  border-radius: 20px !important;
  color: #FFFFFFFF;
}

.table-scrollable thead {
  background: #f2f6f9;
}

.table-scrollable input {
  border: 1px solid #93a1bb;
  border-radius: 10px;
}

.table-scrollable input:focus {
  border: 1px solid #3a96ee;
}

/* ### END LISTAS ### */
/* ### SIDEBAR ### */
.scrollbar {
  max-height: 805px;
  overflow: scroll;
  scrollbar-width: none;
}

.page-sidebar-closed .scrollbar {
  overflow: inherit;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  display: none;
}

.menu-toggler.sidebar-toggler {
  display: block;
  cursor: pointer;
}

.menu-toggler.sidebar-toggler>i {
  font-size: 2em;
  color: #ffffff;
  line-height: 1em;
  margin-top: 1em;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li.footer-sidebar {
  width: 5.7em !important;
}

@media (min-height:891px) {
  .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li.footer-sidebar:hover {
    position: fixed !important;
  }
}

.spanSubMenu::before {
  position: absolute;
  top: 0em;
  left: -2em;
  right: auto;
  display: inline-block !important;
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 0px solid transparent;
  border-right: 28px solid #e0e0e05e;
  content: '';
}

.spanSubMenu::after {
  position: absolute;
  top: 0.15em;
  left: -2em;
  right: auto;
  display: inline-block !important;
  border-bottom: 23px solid transparent;
  border-top: 23px solid transparent;
  border-left: 4px solid transparent;
  border-right: 25px solid #ffffff;
  content: '';
}

/* ### MAINTENANCE ### */
.d-accordion .panel-heading {
  cursor: pointer;
}

.d-accordion .panel-heading.collapsed .fa-chevron-up:before {
  content: '\f078';
}

.titleMaintenance {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #3a96ee;
}

.borderTasks {
  border-radius: 10px;
}

.borderTasks .panel {
  border-radius: 0px;
  border: 0px solid transparent;
}

.borderTasks .panel:first-child, .borderTasks .panel-default:first-child>.panel-heading {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.borderTasks .panel:last-child, .borderTasks .panel-default:last-child>.panel-heading.collapsed {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.borderTasks .panel:last-child, .borderTasks .panel-default:last-child>.panel-heading:last-child {
  border-bottom: 1px solid #3a96ee;
}

.borderTasks .panel+.panel {
  margin-top: 0px;
}

.borderTasks .panel-heading {
  border-radius: 0px;
}

.borderTasks .panel-default>.panel-heading.collapsed {
  color: #333;
  background-color: #FFFFFF;
  border: 1px solid #3a96ee;
  border-bottom: 0px solid transparent;
}

.borderTasks .panel-default>.panel-heading {
  background: #3a96ee;
  color: #FFFFFF;
}

.borderTasks .panel-default>.panel-heading:hover {
  color: #FFFFFF;
  background-color: #3a96ee;
}

.borderTasks .panel-title {
  margin-top: 0;
  font-size: 1.3em;
  font-weight: 500;
}

.borderTasks .panel-title i {
  margin-top: .1em;
}

.borderTasks .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: 1px solid #3a96ee;
  border-left: 1px solid #3a96ee;
  border-right: 1px solid #3a96ee;
}

.borderTasks .panel-default:last-child>.panel-heading+.panel-collapse>.panel-body {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.borderTasks .panel .panel-body {
  font-size: 1.1em;
  padding: 4px;
}

.borderTasks tbody tr:nth-of-type(odd) {
  background-color: #fbfcfd;
}

.borderTasks tbody tr:nth-of-type(odd) {
  background-color: #f2f6f9;
}

.borderTasks tbody th {
  padding: 10px 15px;
  font-weight: 500;
}

.tableSubtitle {
  margin: 0;
  padding: 10px 10px;
  font-weight: 600;
}

/* ### PROFILE ### */
.btnFormSaveProfile {
  background: #3a96ee;
  color: #FFFFFFFF;
  border-radius: 0px !important;
  text-align: center;
  font-size: 1.45em;
  font-weight: 600;
  width: 100%;
  padding: 0.1em 0em;
  margin-top: 1em;
}

.btnFormSaveProfile:hover, .btnFormSaveProfile:focus {
  color: #FFFFFFFF;
}

.subtitleFormProfile {
  text-align: center;
  font-size: 1.8em;
  font-weight: 500;
  color: #333333;
}

.profile>label {
  margin-bottom: 1em;
}

.profile .control-label {
  font-size: 1.15em;
}

.permisos {
  font-size: 1.8em
}

.nombrePermisos {
  font-size: 1.6em;
}

.avatar-upload {
  position: relative;
  max-width: 60%;
  margin: auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 4em;
  height: 4em;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3a96ee;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #54a5f3;
  border-color: transparent;
}

.avatar-upload .avatar-edit input+label:after {
  content: "\f030";
  font-family: "FontAwesome";
  font-size: 2em;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5em;
}

.avatar-upload .avatar-preview>img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
