#three > div > div > a {
  margin-left: 10.5em ;
  margin-right: 10.5em;
}

#dashboard .portlet-body a{
  margin-left: 5em ;
  margin-right: 5em;
  /* margin-top:5em 6em 5em 6em; */
  margin-top:4em;
  margin-bottom: 4em;
}


#flex_icon{
  display: flex !important;
  justify-content: center !important;
}
